body{
    margin: 0%;
    background-color: black;
}
.h1{
    color:rebeccapurple;
    display: flex;
    justify-content: center;
}
.label{
    color: blue;
    display: block;
    display: flex;
    justify-content: center;
}
.one{
align-items: center;
}
.input{
    color: aqua;
    display: block;
}
.button{
    color: brown;
    background-color: blue;
    display: block;
}
.div{
    color: aqua;
}